@import "./variables.scss";

.main {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: calc(100vh - $header-height - $navbar-height);

  & > div {
    user-select: none;
    & > h2 {
      margin-left: 15%;
      width: 70%;
      color: white;
      text-align: center;
    }
  }
}
