@import "./variables.scss";

$background-width-mobile: 100%;
$background-width: 40%;
$side-height-mobile: 18vh;

.main {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.sideBackground {
  position: relative;
  width: $background-width-mobile;
  height: $side-height-mobile;
  user-select: none;

  & img {
    object-fit: cover;
  }

  .backgroundShadow {
    position: absolute;
    bottom: 0;
    background: linear-gradient(-180deg, rgba(0, 0, 0, 0), rgb(0, 0, 0));
    height: 30%;
    width: 100%;
  }
}

.sideContent {
  position: relative;
  width: 100%;
  min-height: calc(
    100vh - $header-height-mobile - $navbar-height - $side-height-mobile
  );
  background-color: black;
  padding: 10px 10px 60px 10px;
  color: $background-superlight;
  line-height: 1.45;
}

@media screen and (min-width: 450px) {
  .sideContent {
    min-height: calc(
      100vh - $header-height - $navbar-height - $side-height-mobile
    );
  }
}

@media screen and (min-width: 550px) {
  .main {
    flex-direction: row;
  }
  .sideBackground {
    width: $background-width;
    height: calc(100vh - $header-height - $navbar-height);

    .backgroundShadow {
      bottom: auto;
      right: 0;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgb(0, 0, 0));
      height: 100%;
      width: 30%;
    }


  }

  .sideContent {
    width: calc(100% - $background-width);
    min-height: calc(100vh - $header-height - $navbar-height);
    padding: 10px 30px 10px 10px;
  }
}
