.prestationDetailsContainer {
  // background-color: white;
  color: white;
}

.dateTimeContainer {
  height: 330px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
