$header-height: 120px;
$navbar-height: 50px;

$background-superlight: #d9c2cd;
$background-light: #c995af;
$background-dark: #741b47;
// $background-superlight: #c995af;
// $background-light: #a64d79;
// $background-dark: #741b47;
$font-color: white;
