@import "../styles/variables.scss";

.container {
  position: fixed;
  top: $header-height + $navbar-height;
  width: 100%;
  height: calc(100vh - $header-height - $navbar-height);
  overflow: hidden;
  overflow-y: auto;

  background-color: $background-light;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  .mainContainer {
    width: 100%;
    min-height: calc(100vh - $header-height - $navbar-height);
    background-color: black;
  }
}

.container::before {
  content: " ";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.1;

  background-image: url("/background_pattern.webp");
  background-repeat: repeat;
  background-position: 50% 0;
  background-size: auto;
}

@media screen and (min-width: 750px) {
  .container {
    .mainContainer {
      width: 80%;
      max-width: 1100px;
    }
  }
}
