@import "../styles/variables.scss";

.mainContainer {
  min-height: calc(100vh - $header-height - $navbar-height);
  background-color: $background-light;
  // background-image: url("/background_pattern.webp");
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.mainContainer::before {
  content: " ";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.1;

  background-image: url("/background_pattern.webp");
  background-repeat: repeat;
  background-position: 50% 0;
  background-size: auto;
}
