@import "../styles/variables.scss";

.mainContainer {
  min-height: calc(100vh - $header-height - $navbar-height);
  background-color: $background-light;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
