@import "../styles/variables.scss";

.navContainer {
  position: fixed;
  top: $header-height;
  width: 100%;
  background-color: $background-dark;
  height: $navbar-height;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  z-index: 1;

  & a {
    color: $font-color;
    text-transform: uppercase;
    font-size: clamp(12px, 4vw, 24px);
    transition: 0.3s ease-out all;
  }

  & a:hover {
    text-shadow: 3px 0px 7px rgba(255, 255, 255, 0.3),
      -3px 0px 7px rgba(255, 255, 255, 0.3),
      0px 4px 7px rgba(255, 255, 255, 0.3);
  }

  & .active {
    font-weight: bold;
  }
}
