@import "../styles/variables.scss";

.prestationContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  h2 {
    font-size: 16px;
    z-index: 1;
    background-color: $background-dark;
    color: $font-color;
    margin: 0;
    text-align: center;
    padding: 10px 5px;
  }
}

.hoverContent {
  display: block;
  div {
    background-color: $background-dark;
    margin: 20px;
    padding: 10px;
    color: $font-color;
  }
  div:nth-child(2) {
    text-align: center;
    font-size: 24px;
  }
  filter: opacity(0);
  transition: filter ease-in-out 0.4s;
}

.prestationContainer:hover .hoverContent {
  filter: opacity(1);
}
