@import "../../styles/variables.scss";

.paypalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  & > div {
    width: 300px;
    height: auto;
  }
  .warning {
    margin-left: 20px;
    color: rgb(251, 149, 149);
    font-weight: bold;
  }
}
