@import "../../styles/variables.scss";

.interactiveTitle {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -30px -30px 0;
  padding: 6px;
  text-align: center;
  background-color: $background-base;
  color: black;
  font-size: 32px;
  z-index: 1;
  user-select: none;

  & > div {
    margin: 0 15px;
    display: flex;
    align-items: center;
    & a {
      color: $background-light;
      cursor: pointer;
      font-size: 16px;
      transition: filter 0.2s ease-in-out;
    }
    & a:hover {
      filter: opacity(0.5);
    }
  }

  & > div:nth-child(1) {
    width: 20%;
    justify-content: flex-start;
  }
  & > div:nth-child(2) {
    width: 50%;
    justify-content: center;
  }
  & > div:nth-child(3) {
    width: 20%;
    justify-content: flex-end;
  }
}

.prestationDescriptionContainer {
  display: flex;
  position: relative;

  .articlesContainer {
    padding: 40px 20px;
    display: grid;
    grid-template-rows: auto;
    justify-content: space-around;
    grid-template-columns: repeat(
      auto-fill,
      min(400px, calc((100vw - 30px) / 5 - 30px))
    );
    gap: 30px;
    position: relative;

    & article {
      width: min(400px, calc((100vw - 30px) / 5 - 30px));
      height: calc(min(400px, calc((100vw - 30px) / 5 - 30px)) / 0.6);
      position: relative;
    }

    & > div:hover div > div {
      filter: opacity(1);
    }

    & > div:hover div > div > div {
      box-shadow: $background-dark 0px 0px 30px;
    }
  }

  .articlesContainer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .articlesContainer > div > div > div {
    box-shadow: $background-dark 0px 0px 15px;
    cursor: default;
  }

  .descriptionTextContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 40px;

    p {
      line-height: 1.45;
    }

    .priceDurationInfo {
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        background-color: $background-dark;
        border-radius: 10px;
        padding: 20px;
        font-size: 32px;
        user-select: none;
      }
    }
  }
}
